.pio
.vscode/
.cache/
node_modules/
configs/MyBoard
.DS_Store
build/

CMakeCache.txt
CMakeFiles/
_deps/
elf2uf2/
generated/
lib/ADS1219/Makefile
lib/ADS1219/cmake_install.cmake
lib/ADS1219/libADS1219.a
lib/AnimationStation/Makefile
lib/AnimationStation/cmake_install.cmake
lib/AnimationStation/libAnimationStation.a
lib/CRC32/Makefile
lib/CRC32/cmake_install.cmake
lib/CRC32/libCRC32.a
lib/FlashPROM/Makefile
lib/FlashPROM/cmake_install.cmake
lib/FlashPROM/libFlashPROM.a
lib/Makefile
lib/NeoPico/Makefile
lib/NeoPico/cmake_install.cmake
lib/NeoPico/libNeoPico.a
lib/NeoPico/pioasm/
lib/OneBitDisplay/Makefile
lib/OneBitDisplay/cmake_install.cmake
lib/OneBitDisplay/libOneBitDisplay.a
lib/PicoPeripherals/Makefile
lib/PicoPeripherals/cmake_install.cmake
lib/PicoPeripherals/libPicoPeripherals.a
lib/PlayerLEDs/Makefile
lib/PlayerLEDs/cmake_install.cmake
lib/PlayerLEDs/libPlayerLEDs.a
lib/SNESpad/Makefile
lib/SNESpad/cmake_install.cmake
lib/SNESpad/libSNESpad.a
lib/TinyUSB_Gamepad/Makefile
lib/TinyUSB_Gamepad/cmake_install.cmake
lib/TinyUSB_Gamepad/libTinyUSB_Gamepad.a
lib/TinyUSB_Gamepad/proto/
lib/TinyUSB_Gamepad/venv/
lib/WiiExtension/Makefile
lib/WiiExtension/cmake_install.cmake
lib/WiiExtension/libWiiExtension.a
lib/cmake_install.cmake
lib/httpd/Makefile
lib/httpd/cmake_install.cmake
lib/httpd/libhttpd.a
lib/lwip-port/Makefile
lib/lwip-port/cmake_install.cmake
lib/lwip-port/liblwip-port.a
lib/nanopb/Makefile
lib/nanopb/cmake_install.cmake
lib/nanopb/libnanopb.a
lib/rndis/Makefile
lib/rndis/cmake_install.cmake
lib/rndis/librndis.a
pico-sdk/
pioasm/
proto/config.pb.c
proto/config.pb.h
proto/enums.pb.c
proto/enums.pb.h
venv/
Makefile
cmake_install.cmake

.*.sw*
compile_commands.json
lib/httpd/fsdata.c
modules/Custom.cmake
.idea
cmake-*
env.ini

*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
